## Links
https://towardsdatascience.com/interpreting-random-forest-and-other-black-box-models-like-xgboost-80f9cc4a3c38

# Imports

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.inspection import permutation_importance

In [5]:
import matplotlib
print(matplotlib.__version__)

3.5.1

In [6]:
import matplotlib.pyplot as plt
from treeinterpreter import treeinterpreter as ti
from pdpbox import pdp

import waterfall_chart

In [7]:
#!pip install treeinterpreter

In [8]:
#!pip install pdpbox

In [9]:
#!conda remove matplotlib
#! conda install matplotlib==3.1.1

# Load data

In [10]:
df = pd.read_csv('data/ready/train.csv')

# Split data

In [11]:
df_train, df_val = train_test_split(df, test_size=0.2)
df_train.shape, df_val.shape

((1168, 81), (292, 81))

In [88]:
x_train, y_train = df_train.drop('SalePrice', axis=1), df_train[['SalePrice', 'Id']]
x_val, y_val = df_val.drop('SalePrice', axis=1), df_val[['SalePrice', 'Id']]

In [89]:
x_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
420,421,90,1,78.0,7060,0,0,0,0,0,...,0,0,0,0,0,0,11,2008,0,4
66,67,20,0,-1.0,19900,0,0,0,0,0,...,0,0,0,0,0,0,7,2010,0,0
437,438,45,1,50.0,6000,0,0,0,0,0,...,0,0,0,0,0,0,1,2009,0,0
25,26,20,0,110.0,14230,0,0,0,0,0,...,0,0,0,0,0,0,7,2009,0,0
876,877,20,0,94.0,25286,0,0,0,3,0,...,0,0,0,0,0,0,1,2007,0,0

In [12]:
df_train

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
355,356,20,0,105.0,11249,0,0,2,0,0,...,0,0,0,0,0,8,2007,0,0,177500
1309,1310,20,0,-1.0,7153,0,0,0,0,0,...,0,0,2,0,0,6,2008,0,0,179200
678,679,20,0,80.0,11844,0,0,1,0,0,...,0,0,0,0,0,7,2009,1,2,372500
322,323,60,0,86.0,10380,0,0,1,0,0,...,0,0,1,0,0,8,2007,0,0,301000
77,78,50,1,50.0,8635,0,0,0,0,0,...,0,0,1,0,0,1,2008,0,0,127000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,1257,20,0,91.0,14303,0,0,1,0,0,...,0,0,0,0,0,8,2008,0,0,301500
276,277,20,0,129.0,9196,0,0,1,0,0,...,0,0,0,0,0,4,2010,0,0,201000
886,887,90,0,70.0,8393,0,0,0,0,0,...,0,0,0,0,0,6,2006,0,5,145000
1156,1157,80,0,85.0,9350,0,0,0,0,0,...,0,0,1,0,0,10,2008,0,0,179900
758,759,160,3,24.0,2280,0,2,0,0,0,...,0,0,0,0,0,8,2008,0,0,179400

# Logit target

In [13]:
def one_plus_log(x):
    return np.log(1 + x)

def one_plus_log_reverse(x):
    return np.exp(x) - 1

In [14]:
df_train['SalePrice'] = df_train['SalePrice'].apply(one_plus_log)
df_val['SalePrice'] = df_val['SalePrice'].apply(one_plus_log)
df_val.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1048,1049,20,0,100.0,21750,0,0,0,0,0,...,0,0,3,0,0,11,2009,0,0,11.652696
787,788,60,0,76.0,10142,0,0,1,0,0,...,0,0,0,0,0,1,2010,0,0,12.358798
402,403,30,0,60.0,10200,0,0,0,0,0,...,0,0,3,0,0,8,2008,0,0,11.589896
352,353,50,0,60.0,9084,0,0,0,0,0,...,0,0,0,0,0,3,2008,6,0,11.461643
415,416,20,0,73.0,8899,0,0,1,0,0,...,0,0,0,0,0,8,2007,1,2,12.106998

# Apply models

In [15]:
def rmse(y, y_hat):
    return mean_squared_error(y, y_hat) ** 0.5

In [ ]:
test = pd.read_csv(;)

# Predict

Идеи:
- пройти пайплайн как тут
- доизучать фичи
- поотбрасывать юзлес фичи
- корреляция спирмана - изучить вопросик
- сабмит предсказания лучшей модели на кагл
- вверху функция one_plus_log - преобразуй таргет и подбери модель
- Потом предикшон суешь в one_plus_log_reverse

Выводы:
- Лучшая модель на трейне дала 26к, на валидации 29485.
- Убрали выбросы и не помогло
- Конечные фичи проанализировали не все
- Посмотрели на худшие кейсы - недопрогнозируем

In [174]:
rf = RandomForestRegressor(n_jobs=-1, min_samples_leaf=10, max_features=0.6, random_state=27)
rf.fit(x_train_clean[to_keep], y_train_clean)

y_train_hat = rf.predict(x_train_clean[to_keep])
y_val_hat = rf.predict(x_val[to_keep])

print('Train RMSE', rmse(y_train_clean, y_train_hat))
print('Test RMSE', rmse(y_val, y_val_hat))

Train RMSE 21021.030318958365
Test RMSE 36140.072156797374

In [171]:
x_train_clean, y_train_clean = df_train_clean.drop(columns=['SalePrice']), df_train_clean['SalePrice']